<div class="dropdown">
    <button class="btn btn-dark btn-profile ms-2 dropdown-toggle" type="button" id="userMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuButton">
        <li class="dropdown-header text-dark">Welcome {{ user.name if user else '' }}</li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item text-dark" href="/user_profile">
            <i class="bi bi-person me-2"></i>Edit Account
        </a></li>
        <li>
            <a class="dropdown-item text-dark" href="/notifications">
                <i class="bi bi-bell me-2"></i>Notifications
                {% if notifications > 0 %}
                    <span class="badge bg-danger ms-2">{{ notifications }}</span>
                {% endif %}
            </a>
        </li>

        {% if not is_admin %}
        <li><a class="dropdown-item text-dark" href="/company_register">
            <i class="bi bi-building-add me-2"></i>Register Company
        </a></li>
        {% endif %}

        {% if is_admin %}
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item text-dark" href="/admin/admin_manage_user">
            <i class="bi bi-person-x me-2"></i>Manage Users
        </a></li>
        <li><a class="dropdown-item text-dark" href="/admin/admin_manage_company">
            <i class="bi bi-building-x me-2"></i>Manage Companies
        </a></li>
        {% endif %}

        {% if is_company_admin %}
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item text-dark" href="/companies_of_administrator">
            <i class="bi bi-building-add me-2"></i></i>Manage Company
        </a></li>
        <li><a class="dropdown-item text-dark" href="/manage_employee">
            <i class="bi bi-person-x me-2"></i>Manage Employee
        </a></li>
        <li><a class="dropdown-item text-dark" href="/manage_tokens">
            <i class="bi bi-coin me-2"></i>Manage Token
        </a></li>
        {% endif %}

        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item text-danger" href="{{ url_for('auth.logout') }}">
            <i class="bi bi-box-arrow-right me-2"></i>Logout
        </a></li>
    </ul>
</div>
